/* Button的子元素可以是Link */
.button, .button > a {
    display: inline-block;
    position: relative;
    background: green;
    color: white;
    font-size: 32px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    min-width: 80px;
    text-align: center;
}

.button {
    margin: 2px;
    padding: 8px 20px;
}