.code {
    background: black;
    color: whitesmoke;
    padding: 20px 10px;
    display: block;
    text-align: left;
    margin: 2px;
    word-wrap: break-word;
    /** 允许断字 */
    word-break: break-all;
}
.line-number {
    user-select: none;
    color: pink;
    display: inline-block;
    width: 40px;
}
.red {
    color: red;
}
.yellow {
    color: yellow;
}