.demo {
    position: relative;
    min-height: 20px;
    margin: 20px;
    text-align: center;
}
.button {
    display: inline-block;
    position: relative;
    color: mediumvioletred;
    border: 3px solid rgb(40, 194, 40);
    border-radius: 180px;
    overflow: hidden;
    white-space: nowrap;
    margin: 1px;
}
/* button的第一个子元素使用一个绝对定位的背景 */
.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: rgb(40, 194, 40);
    border-radius: 180px;
    transition: .2s all;
}
.button:hover::before {
    width: 100%;
}
.button > span, .button > div {
    position: relative;
    min-height: 28px;
    font-size: 20px;
    cursor: pointer;
    /* 弹性居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 过渡动画 */
    transition: .2s all;
    user-select: none;
    padding: 8px 40px;
    border-radius: 180px;
}
.button:hover > span, .button:hover > div {
    color: white;
}